/**
 * Genericons, a flexible icon-font.
 * License: GPL version 2 or any later version with font exception (http://www.gnu.org/licenses/gpl-faq.html#FontException)
 * See also LICENSE.txt and COPYING.txt in the ./fonts directory.
 * Thanks to FontSquirrel for web-font conversion!
 * More info: genericons.com
 */

.genericon {
	color: #4f4f4f;
}
 
.genericon-twitter:hover {
	color: #4099FF;
}
 
.genericon-facebook:hover {
	color: #3B5998;
}
 
.genericon-googleplus:hover {
	color: #D50F0F;
}
 
.genericon-linkedin-alt:hover {
	color: #03659A;
}
 
.genericon-github:hover {
	color: #000000;
}