.genericon {
	color: #4f4f4f !important;
}
 
.genericon-twitter:hover {
	color: #4099FF !important;
}
 
.genericon-facebook:hover {
	color: #3B5998 !important;
}
 
.genericon-googleplus:hover {
	color: #D50F0F !important;
}
 
.genericon-linkedin-alt:hover {
	color: #03659A !important;
}
 
.genericon-github:hover {
	color: #000000 !important;
}