@import "genericons.less";
@import "structure.less";
.site-header .home-link {
	color: #CCCCCC;
	display: block;
	margin: 0 auto;
	max-width: 1080px;
	padding: 0 20px;
	min-height: 230px;
	width: 100%;
	text-decoration: none;
}

@import "navigation.less";

/**
 * 5.0 Content
 * ----------------------------------------------------------------------------
 */

.hentry {
	padding: 0 30px;
}

.sidebar .entry-header,
.sidebar .entry-content,
.sidebar .entry-summary,
.sidebar .entry-meta {
	max-width: 1040px;
	padding: 0 30px 0 30px;
}

h1 {
	font-size: 35px;
	margin: 33px 0;
}

hr {
	margin: 8px 0 0 0;
}

 .entry-header {
	margin-bottom: 15px;
}
 
 .entry-meta > span {
	/* margin-right: 20px; */
}

.entry-meta > span:last-child {
	/* margin-right: 0; */
}

/* Need to fix these two */
 
.entry-content blockquote {
	font-size: 16px;
}

/*
footer.entry-meta {
	margin-top: 12px;
}
Fix this
*/

@import "formats.less";

/**
 * 5.7 Post/Paging Navigation
 * ----------------------------------------------------------------------------
 */



/**
 * 5.9 Archives
 * ----------------------------------------------------------------------------
 */

.archive-header {
	background-color: #A0A597;
}

.archive-title,
.archive-meta {
	font: 300 italic 45px "Source Sans Pro", Helvetica, sans-serif;
	margin: 0 auto;
	max-width: 1040px;
	padding: 15px 0;
	width: 100%;
	text-align: center;
}

.archive-meta {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	margin-top: -15px;
	padding: 0 0 5px;
}

.sidebar .archive-meta {
	/* padding-right: 316px; Reset this*/
}

/**
 * 5.14 Sharing Jetpack CSS Edits
 * ----------------------------------------------------------------------------
 */

.share-end {
	display: none !important;
}
.share-end:last-child {
	display: block !important;
}

.widget.horizontal {
	width: 90px !important;
}

/**
 * 5.15 Custom Homepage CSS
 * ----------------------------------------------------------------------------
 */


/**
 * 6.0 Sidebar
 * ----------------------------------------------------------------------------
 */

/*
.site-main .widget-area {
	float: right;
	width: 300px;
	vertical-align: top;
}
Reset this*/

/**
 * 6.1 Widgets
 * ----------------------------------------------------------------------------
 */

@import "widgets.less";

/**
 * 7.0 Footer
 * ----------------------------------------------------------------------------
 */

.site-footer {
	background-color: #FCF5E3;
	color: #686758;
	font-size: 14px;
	text-align: center;
	clear: both;
}

/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */
 
 @media (max-width: 999px) {

 	.site-main .sidebar-container {
		height: auto;
		margin: 0 auto;
		max-width: 604px;
		position: fixed;
		top: 20px;
	}
}

/* Drop sidebars on homepage underneath respective center columns. */

@media (max-width: 900px) {
	#content-area {
		max-width: 900px;
		white-space: normal;
	}
	
	#featured-area {
		max-width: 900px;
		white-space: normal;
		position: relative;
	}
	#featured-area .metaslider-wrap {
		max-width: 900px;
		display: inline-block;
		white-space: normal;
		position: relative;
		width: 100%;
		margin: 0 20px;
		text-align: center;
	}
	#featured-area .welcome {
		position: relative;
		max-width: 900px;
		display: inline-block;
		white-space: normal;
		vertical-align: top;
		width: 100%;
		
	}
	#content-area .left-column {
		position: relative;
		max-width: 900px;
		display: inline-block;
		white-space: normal;
	}
	#content-area .about-me {
		position: relative;
		max-width: 900px;
		display: inline-block;
		white-space: normal;
		vertical-align: top; 
	}
	#content-area .right-column {
		position: relative;
		max-width: 900px;
		display: inline-block;
		white-space: normal;
		vertical-align: top;
		width: 100%;
		text-align: center;	
	}
	.entry-header,
	.entry-content,
	.entry-summary,
	.entry-meta {
		margin: 0 auto;
		max-width: 900px;
		width: 100%;
	}
}

@media (max-width: 643px) {
	.homepagetitle {
		font-size: 35px;
	}
}